<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="#{title}">DMSosa: Thymeleaf</title>
        <link rel="icon" href="../static/images/favicon.ico"  th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="logo-div" >
                    <img src="../static/images/pokeball.png"
                         th:src="@{/images/pokeball.png}"
                         alt="Pokeball Icon"
                         title="Thymeleaf & Spring with Pokemon"
                         th:alt-title="#{title.application}"
                         class="logo"
                    />
                    <a class="logo-link">Pokedemo</a>
                </div>
                <ul class="menu">
                    <li class="menu-item">
                        <a class="menu-link" th:text="#{navbar.option.one}">Explore</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" th:text="#{navbar.option.two}">Discover</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" th:text="#{navbar.option.three}">Challenge</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <div class="banner">
                <h1 th:utext="#{title.welcome(${#dates.createToday})}">Welcome to your PC, today is: 08/04/2024</h1>
                <div>
                    <h2 th:utext="#{banner.text}">Patience is a tree where the roots are sour but the fruits are so sweet!</h2>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <caption th:text="#{table.pokemon.caption(${allPokemon.size})}">All Pokemon Registered in PokeDex: 7</caption>
                        <table class="table pokemon-table table-clickable">
                            <thead>
                            <tr>
                                <th></th>
                                <th th:text="#{table.pokemon.type}">Type</th>
                                <th th:text="#{table.pokemon.ability}">Ability</th>
                                <th th:text="#{table.pokemon.trainer}">Trainer</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="pokemon : ${allPokemon}"
                                    data-href="#"
                                    th:data-href="@{/pokemon/{pokemonName}(pokemonName=${pokemon.id})}">
                                    <th th:text="${pokemon.name}">Charmander</th>
                                    <td><span class="type-span" th:each="type : ${pokemon.type}" th:text="#{${'pokemon.type.' + type}}">Fire</span></td>
                                    <td th:text="${pokemon.ability}">Blaze</td>
                                    <td th:text="${pokemon.trainer} ? ${pokemon.trainer.name} : #{pokemon.wild}">Giovanni</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <caption th:text="#{table.trainer.caption(${allTrainers.size})}">All Trainers: 3</caption>
                        <table class="table trainer-table table-clickable">
                            <thead>
                                <tr>
                                    <th th:text="#{table.trainer.name}">Name</th>
                                    <th th:text="#{table.trainer.badges}">Badges</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    th:each="trainer: ${allTrainers}"
                                    data-href="#"
                                    th:data-href="@{/trainer/{trainerName}(trainerName=${trainer.name})}">
                                    <td th:text="${trainer.name}">Giovanni</td>
                                    <td th:text="${trainer.badges != null } ? ${trainer.badges.size()} : 0">8</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form class="trainerFinder" action="#" th:action="@{/trainer}" method="GET">
                            <label for="trainerSearch" th:text="#{trainer.finder.label}">Trainer Name</label>
                            <input id="trainerSearch" type="text" placeholder="search a trainer" th:placeholder="#{trainer.finder.placeholder}" name="name"/>
                            <button type="submit" th:text="#{button.search}">Search</button>
                        </form>
                    </div>
                    <div class="col" th:if="${session.trainer} != null">
                        <div class="currently-selected">
                            <h3 th:text="#{current.selected}">Currently selected trainer:</h3>
                            <div>
                                <img src="https://pokemongohub.net/wp-content/uploads/2023/06/giovanni.jpg"
                                th:src="@{/images/{trainerName}(trainerName=${#strings.toLowerCase(#strings.replace(session.trainer.name, ' ', '')) + '.jpg'})}"
                                alt="Giovanni's picture"
                                 th:alt="${session.trainer.name + '''s picture'}"
                                />
                                <span th:text="${session.trainer.name}">Giovanni</span>
                                <span th:text="${session.trainer.phrase}">I'll crush you.</span>
                            </div>
                            <a href="/editor/trainer" th:href="@{/editor/trainer/{trainerName}(trainerName=${session.trainer.name})}" th:text="#{current.selected.editor}">Edit trainer</a>
                        </div>
                    </div>
                    <div class="col" th:if="${session.trainer != null and session.trainer.team != null }">
                        <table class="table team-table table-clickable">
                            <caption th:text="${session.trainer.name + '''s team'}">Giovanni's team</caption>
                            <thead>
                            <tr>
                                <th></th>
                                <th th:text="#{table.pokemon.type}">Type</th>
                                <th th:text="#{table.pokemon.ability}">Ability</th>
                                <th th:text="#{table.pokemon.trainer}">Trainer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="pokemon : ${session.trainer.team}" data-href="#" th:data-href="@{@{/pokemon/{pokemonId}(pokemonId=${pokemon.id})}}">
                                <th th:text="${pokemon.name}">Charmander</th>
                                <td><span th:each="type : ${pokemon.type}" th:text="#{${'pokemon.type.' + type}}">Fire</span></td>
                                <td th:text="${pokemon.ability}">Blaze</td>
                                <td th:text="${session.trainer.name}">Giovanni</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container content-container">
                <div class="row">
                    <div class="col" th:if="${session.pokemon != null}">
                        <div class="chart">
                            <div class="chart-header">
                                <h3 th:text="${session.pokemon.name}">Charmander</h3>
                            </div>
                            <div id="chart-body" class="chart-body">
                                <div class="row">
                                    <div class="chart-picture col">
                                        <img src="https://db.pokemongohub.net/_next/image?url=%2Fimages%2Fofficial%2Ffull%2F004.webp&w=640&q=75"
                                        th:src="${session.pokemon.picture}"
                                        title="${session.pokemon.name}"
                                        />
                                    </div>
                                    <div class="chart-trainer col">
                                        <div class="chart-trainer-header">
                                            <img src="https://pokemongohub.net/wp-content/uploads/2023/06/giovanni.jpg"
                                                 th:src="${session.pokemon.trainer.picture} ?: @{/images/wild.png}"

                                                 title="${session.pokemon.trainer.name} ?: #{pokemon.wild}"/>
                                            <h5 th:text="${session.pokemon.trainer.name} ?: #{pokemon.wild}">Giovanni</h5>
                                        </div>
                                        <ul th:unless="${session.pokemon.trainer.badges.isEmpty}">
                                            <li th:each=" badge : ${session.pokemon.trainer.badges}">
                                                <a th:text="#{${'badges.' + badge}}">Bug</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="chart-description">
                                        <h5 th:text="${session.pokemon.ability}">Blaze</h5>
                                        <p th:text="${session.pokemon.description}">Powers up Fire-type moves when the Pokémon’s HP is low.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-footer">
                                <p th:text="#{chart.footer.message}">Registered in Pokedex via Thymeleaf</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div>
                <h1 th:text="#{footer.title}">Join to the battle</h1>
                <ul>
                    <li th:text="#{footer.social}"><a>Social Media</a></li>
                    <li th:text="#{footer.about}"><a>About Us</a></li>
                    <li th:text="#{footer.share}"><a>Share with</a></li>
                </ul>
                <p>Copyright / Duvi 2024</p>
            </div>
        </div>
    </body>
    <script src="../static/js/addclick.js" th:src="@{/js/addclick.js}"></script>
</html>