<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{title}">DMSosa: Thymeleaf</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div class="header">
    <div class="navbar">
        <div class="logo-div" ><img src="../static/images/pokeball.png"/><a class="logo-link">Pokedemo</a></div>
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-link" th:text="#{navbar.option.one}">Explore</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" th:text="#{navbar.option.two}">Discover</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" th:text="#{navbar.option.three}">Challenge</a>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="banner">
        <h1 th:utext="#{login.welcome}">Ich bin gespannt!</h1>
        <div>
            <h2 th:utext="#{banner.text}">Ubung is das beste dass man machen kann</h2>
        </div>
    </div>
    <form class="trainerFinder">
        <label for="trainerName"></label>
        <input id="trainerName" type="text" placeholder="search a trainer"/>
        <button type="submit">Search</button>
    </form>
    <div class="container" th:if="${trainer.name == #httpServletRequest.getParams()}">
        <div class="row">
            <div class="col">
                <div>
                    <h2 th:text="#{${teamMsg}(${session.user.name})}">Your pokemon team</h2><span th:text="${today}">Date: 06/04/2024</span>
                </div>
                <div>
                    <ul>
                        <li>
                            <a class="pokemon-name">Pokemon name</a>
                        </li>
                        <li>
                            <p class="pokemon-type">Pokemon type</p>
                        </li>
                        <li>
                            <p class="pokemon-level">Pokemon level</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col selected-pokemon">
                <div class="chart-title"><h2>Selected pokemon</h2></div>
                <a class="chart-name">Pokemon name</a>
                <span class="chart-level"></span>
                <img class="chart-img" src=""/>
                <p class="chart-ability">Pokemon ability: </p>
                <span class="chart-description">Ability description</span>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div>
        <h1>Join to the battle</h1>
        <ul>
            <li>Social Media</li>
            <li>About us</li>
            <li>Continue with</li>
        </ul>
        <p>Copyright / Duvi 2024</p>
    </div>
</div>
</body>
</html>