<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{creator.title}">DMSosa: Thymeleaf - Creator</title>
    <link rel="icon" href="../static/images/favicon.ico"  th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="header">
    <div class="navbar">
        <div class="logo-div" >
            <img src="../static/images/pokeball.png"
                 th:src="@{/images/pokeball.png}"
                 alt="Pokeball Icon"
                 title="Thymeleaf & Spring with Pokemon"
                 th:alt-title="#{title.application}"
                 class="logo"
            />
            <a class="logo-link">Pokedemo</a>
        </div>
        <ul class="menu">
            <li class="menu-item">
                <a class="menu-link" th:text="#{navbar.option.one}">Explore</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" th:text="#{navbar.option.two}">Discover</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" th:text="#{navbar.option.three}">Challenge</a>
            </li>
        </ul>
    </div>
</div>
<div class="main">
    <form action="#" th:action="@{/trainer}" th:object="${trainer}" method="POST">
        <fieldset>
            <legend th:text="#{trainerForm.legend}">Let's begin your journey in the PokeWorld!</legend>
            <div>
                <label th:for="name" th:text="#{trainerForm.name}">new Trainer's name</label>
                <input type="text" th:placeholder="#{trainerForm.name.placeholder}" th:field="*{name}"/>
            </div>
            <div>
                <label th:for="phrase" th:text="#{trainerForm.phrase}">new Trainer's phrase</label>
                <textarea rows="2" type="text" th:placeholder="#{trainerForm.phrase.placeholder}" th:field="*{phrase}">
                </textarea>
            </div>
            <div>
                <label th:for="phrase" th:text="#{trainerForm.picture}">new Trainer's picture</label>
                <input type="text" th:placeholder="#{trainerForm.picture.placeholder}" th:field="*{picture}"/>
            </div>
            <div>
                <label th:for="name" th:text="#{trainerForm.badges}">new Trainer's badges</label>
                <ul>
                    <li th:each="badge : ${allBadges}">
                        <input type="checkbox" th:field="*{badges}" th:value="${badge}"/>
                        <label th:for="${#ids.prev('badges')}" th:text="#{${'badges.' + badge}}">Bug</label>
                    </li>
                </ul>
            </div>
            <div class="starter-box">
                <label th:for="team" th:text="#{trainerForm.addStarter}">new Trainer's starter</label>
                <button th:name="addStarter" th:text="#{trainerForm.addStarter.button}"></button>
                <div th:each="teamMember, stat : *{team}">
                    <select th:field="*{team[__${stat.index}__].name}">
                        <option  th:each="pokemon : ${allStarters}" th:value="${pokemon.name}" th:text="${pokemon.name}"></option>
                    </select>
                </div>
            </div>
            <div class="submit">
                <button type="submit" name="save" th:text="#{button.create}"></button>
            </div>
        </fieldset>
    </form>

</div>
<div class="footer">
    <div>
        <h1 th:text="#{footer.title}">Join to the battle</h1>
        <ul>
            <li th:text="#{footer.social}"><a>Social Media</a></li>
            <li th:text="#{footer.about}"><a>About Us</a></li>
            <li th:text="#{footer.share}"><a>Share with</a></li>
        </ul>
        <p>Copyright / Duvi 2024</p>
    </div>
</div>
</body>
</html>